In [ ]:
import pandas as pd

series_ex = pd.Series([100,110,105,100,150], index =['월','화','수','목','금'])
series_ex

In [10]:
series_ex['월']

100

In [18]:
dataframe_ex = pd.DataFrame({'서울GDP':[100,110,120,130,135],'부산GDP':[110,102,104,150,120],
'광주GDP':[101,130,120,110,205]},index = [2012,2013,2014,2015,2016])
dataframe_ex
series_ex.sort_value()

NameError: name 'series_ex' is not defined

In [9]:
dataframe_ex['서울GDP']

2012    100
2013    110
2014    120
2015    130
2016    135
Name: 서울GDP, dtype: int64

In [10]:
dataframe_ex.loc[2015]

서울GDP    130
부산GDP    150
광주GDP    110
Name: 2015, dtype: int64

In [16]:
dataframe_ex['서울GDP'][2015]

130

In [23]:
series_ex.sort_values()

월    100
목    100
수    105
화    110
금    150
dtype: int64

In [24]:
series_ex.sort_values(ascending=False)

금    150
화    110
수    105
목    100
월    100
dtype: int64

In [31]:
dataframe_ex.sort_values(by = '서울GDP', ascending=False)

      서울GDP  부산GDP  광주GDP
2016    135    120    205
2015    130    150    110
2014    120    104    120
2013    110    102    130
2012    100    110    101

In [32]:
series_ex[series_ex >100]

화    110
수    105
금    150
dtype: int64

In [36]:
dataframe_ex[dataframe_ex['부산GDP']>110]

      서울GDP  부산GDP  광주GDP
2015    130    150    110
2016    135    120    205